In [15]:
SELECT
    random() * 100 AS x, 
    random() * 100 AS y
FROM generate_series(1, 10);

x,y
10.85943732312893,83.69486114801896
44.18310350124275,37.32856104488733
27.48444198666229,91.74788684034718
84.28651391776363,52.29295193918271
29.078543640895994,25.62468975246448
11.783617448225382,25.110461111562742
82.68414763722527,47.92002793457062
66.77293163890856,68.95303518450646
46.06408536205699,38.611263993036204
48.89368206186961,5.565991992026564

In [16]:
SELECT 
x,
x*normal_rand(3,.1) as y
from 
(Select normal_rand(6, 3) AS x
FROM generate_series(1,10)) as b

: function normal_rand(integer, integer) does not exist